@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
        width: 5px;
}
      
::-webkit-scrollbar-track {
background: black;
}
      
::-webkit-scrollbar-thumb {
background: #2861fd;
}

::-webkit-scrollbar-thumb:hover {
background: #2861fd;
}
body {
        font-family: 'Inter', sans-serif;
}

.light code{
        background-color: #bdbdbd;
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
}
.dark code{
        background-color: #575757;
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
}